# TO_CHAR()

- Makes dates into human-readable formats
- Patterns in the format string will be replaced by what they represent in the date
- other characters remain as-is
- See documentation for patterns : https://www.postgresqltutorial.com/postgresql-string-functions/postgresql-to_char/

# Window functions

- Calculates on specified window
- `func_name() OVER ( <PARTITION BY some_col> ORDER BY col DESC)`
- `PARTITION BY` resets a track after some time (like the inside loop in a double for loop)
- `func_name` can be replaced by
    - `SUM`
    - `LAG`
    - `RANK` etc

# Pivoting

- Rotating a table around a pivot column; transposing a column's values into columns
    - Converts a "long" table into a "wide" one
- `CROSSTAB()` Extension : takes source table and pivot it by one of its columns
    - use double quote when defining the final table strcture
    - See last examples of reporting in slides
<center><img src="images/04.041.jpg"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/04.042.jpg"  style="width: 400px, height: 300px;"/></center>

- Example:
```
CREATE EXTENSION IF NOT EXISTS tablefunc;

SELECT * FROM CROSSTAB($$ 
    Source_Query_To_Pivot
$$) AS ct (
    column_to_keep TYPE,
    "new_col_name_from_original_column_value_1_in_same_format" TYPE,
    "new_col_name_from_original_column_value_2_in_same_format" TYPE
)
```

# Readability

- Dates: Use readable date formats ( August 2018 , not 2018-08-01 )
- Numbers: Round numbers to the second decimal at most ( 98.76 , not 98.761234 )
- Table shape: Reshape long tables into wide ones, pivoting by date when possible
- Order: Don't forget to sort!