# Exploratory Data Analysis (EDA) Process

- Iterative
- No specific checklist for EDA questions
- Get curious!
- Reduces re-work effort

# Useful Functions

- `CONVERT`
    - converts from one data-type to another
- `CAST`
    - converts from one data-type to another
- `GETDATE`
    - get current date
- `DATEADD`
    - returns an date data-type
    - adding or subtracting dates
- `DATEDIFF`
    - returns an integer
    - difference between dates in duration interval
- `DATEPART`
    - returns an integer
    - part of a date
- `DATENAME`
    - returns an nvarchar data-type
    - name of date

- See slides for examples

# Declaring Variables and Setting Values

- Declaring and setting value:
    - `DECLARE @some_var as time = '08:00 AM'`
- `DECLARE` variable first  and then setting value later
    1. `DECLARE @some_var AS time`
    2. `SET @some_var = '08:00 AM'`
- `DECLARE` variable then SET value from query
    1. `DECLARE @some_var as date`
    2. `SET @some_var = (SELECT TOP 1 col FROM some_table);`
- Calculating values and store them inside variable:
    1. `DECLARE @some_var as datetime`
    2. `SET @some_var = CAST(@var1 as datetime) + CAST(@var2 as datetime)`
- `DECLARE` table variable and insert rows (NOT RECOMMENDED for more than 100 rows)
    1. `DECLARE @some_table TABLE( col1 date,col2 date)`
    2. `INSERT INTO @some_table (col1, col2) SELECT colA, colB FROM some_other_table`