# Stored procedures

- Routines
- Accept input parameters
- Perform actions ( EXECUTE SELECT , INSERT , UPDATE , DELETE , and other SP statements)
- Return status (success or failure)
- Return output parameters
- Can reduce execution time (pre-compiled)
- Can reduce network traffic (Sometimes does not need to go through query optimizer)
- Allow for Modular Programming
- Decouples SQL code from other application layers
- Improved Security
- must be unique including UDFs
<center><img src="images/03.01.jpg"  style="width: 400px, height: 300px;"/></center>

# Creating SP

```
CREATE PROCEDURE schema_name.procedure_name (
    @input_param datatype1,
    @output_param datatype2 OUTPUT)
AS <SET NOCOUNT ON>
BEGIN
    SELECT @output_param = ....
    ...query....
RETURN END;
```
<center><img src="images/03.02.jpg"  style="width: 400px, height: 300px;"/></center>

# CRUD SP

- Create:
    ```
    CREATE PROCEDURE schema_name.procedure_name (
    @input_param1 datatype1,
    @input_param2 datatype2)
    AS <SET NOCOUNT ON>
    BEGIN
        INSERT INTO schema_name.table_name(col1, col2) VALUES (@input_param1, @input_param2)
    RETURN END;
    ```
- Read:
    ```
    CREATE PROCEDURE schema_name.procedure_name (
        @input_param1 datatype1,
        @input_param2 datatype2)
    AS <SET NOCOUNT ON>
    BEGIN
        SELECT ... query....
    END;
    ```
- Update:
    ```
    CREATE PROCEDURE schema_name.procedure_name (
        @input_param1 datatype1,
        @input_param2 datatype2)
    AS <SET NOCOUNT ON>
    BEGIN
        UPDATE schema_name.table_name SET  col1=@input_param1, col2=@input_param2
    END;
    ```
- Delete:
    ```
    CREATE PROCEDURE schema_name.procedure_name (
        @input_param datatype1,
        @output_param datatype2 OUTPUT)
    AS <SET NOCOUNT ON>
    BEGIN
        DELETE FROM schema_name.table_name WHERE col1=@input_param1
        SET @output_param = @@ROWCOUNT
    END;
    ```

# Executing SP

- Executing SP with no Output parameter and return value:
    ```
    EXEC schema_name.procedure_name
        @input_param1 = 'val1'
        @input_param2 = 'val2'
    ```
- Executing SP with Output parameter:
    ```
    DECLARE @output_param_var AS data_type

    EXEC schema_name.procedure_name
        @input_param = 'val1',
        @output_param = @output_param_var OUTPUT

    SELECT @output_param_var AS OutputParamVal
    ```
- Executing SP with return value:
    ```
    Declare @return_val AS data_type

    EXEC @return_val = 
        schema_name.procedure_name
        @input_param1 = 'val1'
        @input_param2 = 'val2'

    Select @return_val as ReturnValue
    ```
- Executing SP With return value & output parameter
    ```
    Declare @return_val as int
    Declare @output_param_var as int
    
    EXEC @return_val =
        schema_name.procedure_name
        @input_param = 'val1',
        @output_param = @output_param_var OUTPUT
    
    Select @return_val as ReturnValue, @output_param_var as OutputParamVal
    ```
- Execute and store result set inside a table variable :
```
DECLARE @some_table as TABLE(col1 datatype1, col2 datatype2)

INSERT INTO @some_table
EXEC schema_name.procedure_name 
    @input_param1 = 'val1'

SELECT * FROM @some_table
```

# TRY..CATCH

- Handle Error with `TRY..CATCH` along with SP
    ```
    CREATE OR ALTER PROCEDURE schema_name.procedure_name(
        @input_param1 datatype1,
        @input_param2 datatype2,
        @output_param datatype3 = null OUTPUT)
    AS <SET NOCOUNT ON>
    BEGIN
        BEGIN TRY
            ...query....
        END TRY
        BEGIN CATCH
            SET @output_param = CAST (ERROR_NUMBER() AS varchar) +  CAST(ERROR_SEVERITY() AS varchar) + ERROR_MESSAGE()
        END CATCH    
    RETURN END;
    ```

- Execute SP with `TRY..CATCH`
    ```
    DECLARE @ErrorMsgOut as nvarchar(max)
    
    EXECUTE schema_name.procedure_name
    @input_param1 = 'val1',
    @input_param2 = 'val2',
    @output_param = @ErrorMsgOUT OUTPUT
    SELECT @ErrorMsgOut as ErrorMessage
    ```

<center><img src="images/03.12.jpg"  style="width: 400px, height: 300px;"/></center>