# Another way of Aliasing

```
SELECT
col,
"new_col" = CASE WHEN col > 0 THEN col
                ELSE schema_name.func_name() 
            END
FROM some_table;
```

# Mean imputation

- Replace missing value with mean
- Doesn't change the mean value
- Increases correlations with other columns
- Example:
```
DECLARE @avg_val AS FLOAT

SELECT @avg_val = AVG(col) FROM some_table

UPDATE some_table SET col = @avg_val
```

# Hot Deck imputation

- Missing value set to randomly selected value
- `TABLESAMPLE` clause of `FROM` clause
- Example:
```
SELECT TOP 1 col FROM some_table
    TABLESAMPLE (1000 rows)

UPDATE some_table SET col = @avg_val
```

# Executing UDF on a table

```
SELECT 
    col1,
    schema_name.func_name1 (col1) as 'Func1_col',
    col2,
    schema_name.func_name2 (col2) as 'Func2_col',
FROM schema_name.table_name
```

# Customized Sorting

- Use `CASE` statement after `ORDER BY` with numeric values
- example:
    ```
    SELECT DATENAME(weekday, StartDate) as 'DayOfWeek',
    SUM(Duration) as TotalDuration
    FROM CapitalBikeShare
    GROUP BY DATENAME(WEEKDAY, StartDate)
    ORDER BY
        CASE WHEN Datename(WEEKDAY, StartDate) = 'Sunday' THEN 1
        WHEN Datename(WEEKDAY, StartDate) = 'Monday' THEN 2
        WHEN Datename(WEEKDAY, StartDate) = 'Tuesday' THEN 3
        WHEN Datename(WEEKDAY, StartDate) = 'Wednesday' THEN 4
        WHEN Datename(WEEKDAY, StartDate) = 'Thursday' THEN 5
        WHEN Datename(WEEKDAY, StartDate) = 'Friday' THEN 6
        WHEN Datename(WEEKDAY, StartDate) = 'Saturday' THEN 7
        END ASC;
    ```
- Use `FORMAT` 
- example:
    ```
    SELECT TOP 5 FORMAT(CAST(StartDate as Date), 'd', 'de-de') AS 'German Date',
    FORMAT(CAST(StartDate as Date), 'd', 'en-us') AS 'US Eng Date',
    FORMAT(Sum(Duration), 'n', 'de-de') AS 'German Duration',
    FORMAT(SUM(Duration), 'n', 'en-us') AS 'US Eng Duration',
    FORMAT(SUM(Duration),'#,0.00') AS 'Custom Numeric'
    FROM CapitalBikeShare
    GROUP BY CAST(StartDate as Date)
    ```

# SPs with Best Practices

```
DROP PROCEDURE IF EXISTS schema_name.procedure_name
GO
CREATE OR ALTER PROCEDURE schema_name.procedure_name
.......
```