# INNER JOIN

- Returns only data that are available in both tables
- Like an intersection operation between 2 tables

```
SELECT *
FROM left_table l
INNER JOIN right_table r
ON l.some_key = r.some_key;
```

If they are joined on a column that has same name in both table, we can use `USING`:

```
SELECT *
FROM left_table l
INNER JOIN right_table r
USING(some_key);
```

# One-to-many relationships

- 1 value from 1 table can map with many value with other table
- example: 1 `author_id` from `Author` table can map to many `author_id` in `Book` tabke

# One-to-one relationships

- 1 value from 1 table can only map with 1 value with other table
- example: 1 `student_id` from `Student` table can map to at most 1 `national_id` in `NID` table

# Many-to-many relationships

- all values from 1 table can map up to all values with other table. 
- There is an intermediate table for mapping
- example: 1 `teacher_id` from `Teacher` table can map to many `university_id` in `University` table. Similarly, 1 university can have many teachers.

# Multiple joins

```
SELECT *
FROM left_table
INNER JOIN right_table
ON left_table.id = right_table.id
INNER JOIN another_table
ON left_table.id = another_table.id;
```