# OUTER JOINS

- LEFT
- RIGHT
- FULL OUTER
- Any `RIGHT JOIN` can be re-written as `LEFT JOIN` and vice-versa

# `LEFT JOIN`

- Keep the left table
- Only records in the right table that match on the joining field are returned
- Any value that is not matched on the right table is replaced with `null` value
- can also be written as `LEFT OUTER JOIN`

example:
```
SELECT *
FROM left_table AS l
LEFT JOIN right_table AS r
USING(matching_col);
```

# `RIGHT JOIN`

- Keep the right table
- Only records in the left table that match on the joining field are returned
- Any value that is not matched on the left table is replaced with `null` value
- can also be written as `RIGHT OUTER JOIN`

example:
```
SELECT *
FROM left_table AS l
RIGHT JOIN right_table AS r
USING(matching_col);
```

# `FULL OUTER JOIN`

- combines a `LEFT JOIN` and a `RIGHT JOIN`
- All records from both tables are returned
- Any non-matching joined entry value is replaced with null 
- The keyword `FULL OUTER JOIN `can also be used.

example:
```
SELECT *
FROM left_table
FULL JOIN right_table
USING (id);
```

# `CROSS JOIN`

- creates all possible combinations of two tables specified inside `SELECT`
- `ON` or `USING` is not used

example:
```
SELECT id1, id2
FROM table1
CROSS JOIN table2;
```

# Self joins

- tables joined with themselves
- used to compare parts of the same table
- Using aliasing, the table is considered independent tables while joining
- different joins can be used

example:
```
SELECT
p1.country AS country1,
p2.country AS country2,
p1.continent
FROM prime_ministers AS p1
INNER JOIN prime_ministers AS p2
ON p1.continent = p2.continent
LIMIT 10;
```