# Additive Joins

- Joins where columns with different names are added in the result after the join
- The result table may contain multiple columns with same name
- eg : INNER JOIN

# Semi join

It returns records from the left table where certain condition in left table is fulfilled in some column of the right table

<img src="01.jpg" style="width:800px;height:500px;">

example:

```
SELECT *
FROM left_table
WHERE condition_col IN
(SELECT single_col
FROM right_table);
```

# Anti Join

It returns records from the left table where certain condition in left table is not fulfilled in some column of the right table

<img src="02.jpg" style="width:800px;height:500px;">

example:

```
SELECT *
FROM left_table
WHERE condition_col NOT IN
(SELECT single_col
FROM right_table);
```

# Subqueries inside WHERE

```
SELECT *
FROM some_table
WHERE some_field IN
(SELECT some_field
FROM another_table
WHERE field2 = some_condition);
```

# Subqueries inside SELECT

- Remember scoping. Put different table names in the WHERE condition inside the enclosed (table_2) subquery

```
SELECT DISTINCT continent,
(SELECT table2col
FROM table_2
WHERE table_1.tid_1 = table_2.tid_2) AS table2col
FROM table_1;
```

# Subqueries inside FROM

- Subqueries inside FROM can help us select columns from multiple tables in a single query.

```
SELECT table_1.xcol, temp_table.ycol 
FROM table_1,
(SELECT * FROM table_2) AS temp_table
WHERE table_1.some_col = temp_table.some_col
ORDER BY some_col;
```