# KPI

- Key performance indicators
- measure the success
- Different ways of measuring business performance
    - Revenue : 
        - Example : The number of rentals
    - Customer satisfaction:
        - Example : The rating of movies
    - Customer Engagement:
        - Example: Number of active customers
- Helps to make operational decisions
    - Short term investments
    - Where to invest
- Helps to make strategic decisions
    - Long term investments
    - Market extension plan

# WHERE

- Used for filtering
- Used along with different operators
- See slides for examples
<center><img src="images/01.04.jpg"  style="width: 400px, height: 300px;"/></center>

# AND, OR

- `AND` : Evaluates if all condition in `WHERE` is True
- `OR` : Evaluates if any condition in `WHERE` is True
- See slides for examples

# Ordering

- Used for ordering the table by a column
- Default Ordering : Ascending
- Use `DESC` keyword at the end to make the ordering descending
- `SELECT * FROM table_name ORDER BY order_col DESC;`
- When ordering, `NULL` is treated as the largest value

# Aggregate Functions

- `AVG()` :
    - Average of a column
    - The result is `NULL` if all of the values are `NULL`.
- `SUM()` :
    - Total Addition of values in a column
- `COUNT()` :
    - Total number of non-null entries
- `MIN()` :
    - Minimum value of a column
- `MAX()` :
    - Maximum value of a column

- See slides for examples

# Distinct

- Shows unique values in a column
- `SELECT DISTINCT col_name FROM table_name;`

# Alias

- Giving the resulting column a name
- Used with `AS` keyword
- `SELECT COUNT(col_name) AS count_col FROM table_name;`

# Tips

- Always use single quote for strings. SQL does not support double quote unless specified otherwise