# GROUP BY

- Used with aggregate functions
- Used to group with other columns
- Non-aggregated columns are tied with `GROUP BY` clause
- `SELECT non_agg_col , AVG(col) FROM table_name GROUP BY non_agg_col;`

<center><img src="images/02.01.jpg"  style="width: 400px, height: 300px;"/></center>

# HAVING

- Used for filtering with aggregate functions
- `WHERE` cannot be used with aggregate functions
- If ever needed a situation like: `WHERE COUNT(*) > 2;`, use `HAVING` instead.
    - `HAVING COUNT(*) > 2;`
- example:
```
SELECT 
    non_agg_col, 
    AVG(col) avg_price 
FROM table_name 
GROUP BY non_agg_col 
HAVING COUNT(*) > 5;
```

# Joining

- 3 Types
- `LEFT JOIN` : Keep all entries from LEFT table
- `RIGHT JOIN` : Keep all entries from RIGHT table
- `INNER JOIN` : Keep only entries that match on both LEFT and RIGHT table
- example syax:
```
SELECT *
FROM some_table1 AS left
INNER JOIN some_table2 AS right
ON left.matching_col = right.matching_col
LEFT JOIN some_table3 AS other
ON right.some_other_matching_col = other.some_other_matching_col;
```
- See slides for examples

# Subqueries

- Subquery after `FROM`
    - Also considered subsequent `SELECT` statements
- Can be considered as an independent table
```
SELECT *
FROM
(SELECT * FROM table_name) AS subquery_table;
```
- See slides for examples