# Ordering

- Order the result by certain column values from lowest to highest : Default or `ASC`
- Order the result by certain column values from highest to lowest : Default or `DESC`
- All row count : `COUNT(*)`
- Unique value in a column count : `COUNT(DISTINCT col)`
    ```
    SELECT COUNT(*) AS TotalRows, COUNT(DISTINCT col1), col2
    FROM table_name
    GROUP BY col2
    ORDER BY col2 DESC
    ```

# MATH Operations with DATE

- `DATEADD()` : Add or subtract datetime values
    - `SELECT DATEADD(DD, -30, '2020-06-21')` 
    - What date is 30 days before June 21, 2020?
- `DATEDIFF()` : Obtain the difference between two datetime values
    - `SELECT DATEDIFF(DD, '2020-05-22', '2020-06-21')`
    - How many days passed between May 22, 2020 and June 21, 2020?
- Different parts of Date to be passed in the first argument:
    - `DD` for Day
    - `MM` for Month
    - `YY` for Year
    - `HH` for Hour

# Rounding and Flooring numbers

- Rounding :
    - Round numbers up to a certain precision
    - `SELECT ROUND(col, 1) AS RoundToOne FROM table_name`
- Truncating:
    - Also considered as flooring number
    - `ROUND()` function with a third argument that is `non-zero`
    - cuts all numbers off after the specified digit
    - `SELECT ROUND(col, 0, 1) AS Truncating FROM table_name`

<center><img src="images/02.08.jpg"  style="width: 400px, height: 300px;"/></center>

# Other Math Functions

- `ABS(number)` : Absolute value
- `SQRT(number)` : Square root of a value
- `SQUARE(number)` : Square of a value
- `LOG(val,base)` : log value 
- example:

```
SELECT
    ABS(col),
    SQRT(col),
    SQUARE(col),
    LOG(col,10)
FROM table_name
```