# Variables

- used for storing some value to use it many times by calling a name
- 2 steps to set up a variable
    1. declare name and type of variable 
    2. setting data for the variable
```
-- Declare the variable
DECLARE @Snack VARCHAR(10)
-- Use SELECT assign a value
SELECT @Snack = 'Candy'
-- Show the value
SELECT @Snack
```
- Update a value of variable : `SET @var_name = new_val`

# WHILE loop

- Used for looping / repeating task
- `CONTINUE` : skip an iteration
- `BREAK` : break out of loop
- `BEGIN` : begin the loop condition
- `END` : end the loop condition

```
-- Declare ctr as an integer
DECLARE @ctr INT
-- Assign 1 to ctr
SET @ctr = 1
-- Specify the condition of the WHILE loop
WHILE @ctr < 10
    -- Begin the code to execute inside WHILE loop
    BEGIN
        -- Keep incrementing the value of @ctr
        SET @ctr = @ctr + 1
        -- Check if ctr is equal to 7
        IF @ctr = 7
        -- When ctr is equal to 7, the loop will break
        BREAK
        -- Check if ctr is equal to 6
        IF @ctr = 6
        -- When ctr is equal to 6, the loop will skip
        CONTINUE
    -- End WHILE loop
    END
```

# Derived Table

- A Query which is treated like a temporary table
- Always contained within the main query
- Used to break down complex queries into smaller steps
- They are specified in the `FROM` clause
```
SELECT a.* FROM table_1 AS a
JOIN (SELECT AVG(col) AS AverageCol
FROM table_2) AS derived
ON a.some_col = derived.some_col
```

# Common Table Expressions (CTE)

- One type of derived table / temporary table
- Can be used multiple times in a query or other CTEs

```
WITH CTEName1 (Col1, Col2)
AS
(
SELECT Col1, Col2
FROM TableName1
),
WITH CTEName2 (Col1, Col2)
AS
(
SELECT Col1, Col2
FROM TableName2
)
SELECT a.Col1, b.Col2
FROM CTEName1 a, CTEName2 b
```