# A relational database

- Real life entities. e.g. professors , universities , companies.
- Entities are Noun / Model etc.
- Entities become tables
- Data integrity by relationships between entities / tables

# 3 Key concepts

- Constraints
- Keys
- Referential integrity

# PostgreSQL Default Meta Schema / Database

`information_schema`

# See tables of `information_schema`

```
SELECT table_schema, table_name
FROM information_schema.tables;
```

# See columns of `information_schema`

- The 'public' schema holds information about user-defined tables and databases
- The other types of table_schema hold system information

```
SELECT table_name, column_name, data_type
FROM information_schema.columns;
```

# A better database model

When A database table is very big, break the database table into smaller tables-
- Square box is represented as Model / Entity
- Circular box is represented as Column.
- Put related Columns with related square box
- If there is a column that remains alone, make a new model for that Column

# Create Table

```
CREATE TABLE table_name (
col_name1 text,
col_name2 numeric,
col_name3 char(5)
);
```

# ADD a COLUMN to existing TABLE

```
ALTER TABLE table_name
ADD COLUMN new_column_name data_type;
```

# Rename columns

```
ALTER TABLE table_name
RENAME COLUMN old_name TO new_name;
```

# Delete columns

```
ALTER TABLE table_name
DROP COLUMN column_name;
```

# Delete tables

`DROP TABLE table_name;`

# INSERT record INTO a table

```
INSERT INTO table_name (column_a, column_b)
VALUES ("value_a", "value_b");
```

# Migrate data INTO a new table from an old table

```
INSERT INTO new_table
SELECT column1, column2
FROM old_table;
```

# Count Distinct records in a Table

```
SELECT COUNT(DISTINCT column_name)
FROM table_name;
```