# Integrity constraints

- Attribute Constrains : Column data types
- Key Constraints : Primary keys
- Referential integrity constraints : Foreign keys

# Type Casting

```
SELECT column1 + CAST(text_column AS integer)
FROM table;
```

# Changing a column's data type

```
ALTER TABLE table_name
ALTER COLUMN column_name
TYPE varchar(10)
```

# Transformation BEFORE Casting

You can use `USING` keyword to transform a column before casting or do other operations. It shortens multiple steps of transformation of a column's pre-alterating operation.

```
ALTER TABLE table_name
ALTER COLUMN column_name
TYPE varchar(x)
USING SUBSTRING(column_name FROM 1 FOR x)
```

It is like this: Because you want to reserve only x characters for column_name, you have to retain a SUBSTRING of every value, i.e. the first x characters of it, and throw away the rest. This way, the values will fit the varchar(x) requirement.

# What does NULL mean?

- Unknown
- Does not exist
- Does not apply etc

That is why : `NULL !+ NULL`

# `NOT NULL` constraint

**When creating a table a column is by default null-allowable**

### Creating a table with `NOT NULL` constraint on a column

```
CREATE TABLE table_name (
col1 integer not null,
col2 varchar(64) not null
);
```

### Altering a table with `NOT NULL` constraint on a column

```
ALTER TABLE table_name
ALTER COLUMN column_name
SET NOT NULL;
```

### Dropping `NOT NULL` constraint from a column

```
ALTER TABLE table_name
ALTER COLUMN column_name
DROP NOT NULL;
```

# `UNIQUE` constraint

### Creating a table with `UNIQUE` constraint on a column

```
CREATE TABLE table_name (
column_name UNIQUE
);
```

### Altering a table with `UNIQUE` constraint on a column

```
ALTER TABLE table_name
ADD CONSTRAINT constraint_name UNIQUE(column_name);
```

### Dropping `UNIQUE` constraint from a column

```
ALTER TABLE table_name
DROP CONSTRAINT constraint_name;
```