# See all table constraints

```
SELECT constraint_name, table_name, constraint_type
FROM information_schema.table_constraints
WHERE constraint_type = 'FOREIGN KEY';
```

# Adding a Foreign Key Constraint

```
ALTER TABLE table_name 
ADD CONSTRAINT constrant_name FOREIGN KEY (other_table_id) REFERENCES other_table (id);
```

# Drop a constraint

```
ALTER TABLE table_name
DROP CONSTRAINT some_constraint_like_fkey;
```

# Foreign Key

- FK in a table points to a primary key of another table
- Each value of FK must exist in the values of PK of another table ("referential integrity"))
- FK can be null 
- FK can be duplicate

# Referential integrity violations

Table_A's b_id FK is pointing to Table_B's id.
- if id from Table_B is deleted.
- if a value in b_id is inserted, however that value is non-existing in Table_A's id

# Intermediate Table

- Used for many to many relationship
- Mapping of 2 FKs
- Does not necessarily have to have a PK
- Additional attributes can be placed here
- Could be considered a composite key

# Adding a Foreign Key

```
ALTER TABLE table_name
ADD COLUMN another_table_id integer REFERENCES another_table (id);
```

# Joining Tables with foreign key

```
SELECT a.col1, b.col2, b.col3
FROM table_A AS a
JOIN table_B AS b
ON
a.b_id = b.id;
``

# Populating a column with conditions

- update a table A
- the A table's value
- From table B
- Where A and B meets certain conditions

```
UPDATE intermediate_table_name
SET intermediate_table_name.other_table_id = other_table.id
FROM other_table
WHERE 
        intermediate_table_name.col1 = other_table.col1 
    AND 
        intermediate_table_name.col2 = other_table.col2;
```

# Dealing Referential integrity violations

`<Option>` choices:
- `NO ACTION`: Throw an error
- `CASCADE`: Delete all referencing records
- `RESTRICT`: Throw an error
- `SET NULL`: Set the referencing column to NULL
- `SET DEFAULT`: Set the referencing column to its default value

```
CREATE TABLE table_name (
id integer PRIMARY KEY,
...,
b_id integer REFERENCES table_B (id) ON DELETE <OPTION>
);
```

# Grouping

```
SELECT COUNT(*), table_A.b_id 
FROM table_A
JOIN table_B
ON table_A.b_id = table_B.id
GROUP BY table_A.b_id  
ORDER BY count DESC;
```

# Deleting Records

```
DELETE FROM table_name 
WHERE id = 'some_id';
```