# Date-Time Data Types

- Get `DATETIME` data type:
    - `GETDATE()` : Gets date
    - `GETUTCDATE()` : Gets date in UTC time
    - example: ``SELECT GETDATE() AS DateTime_LTz, GETUTCDATE() AS DateTime_UTC;`
- Get `DATETIME2` data type (more precise):
    - `SYSDATETIME()()` : Gets date
    - `SYSUTCDATETIME()()` : Gets date in UTC time
    - example: ``SELECT SYSDATETIME() AS DateTime2_LTz, SYSUTCDATETIME() AS DateTime2_UTC;`

# Breaking Down date

- `SELECT YEAR(SomeDate)` : Get year from date_val;
- `SELECT MONTH(SomeDate)` : Get month from date_val;
- `SELECT DAY(SomeDate)` : Get day from date_val;
- example:
    ```
    DECLARE
    @SomeDate DATETIME2(3) = '2019-03-01 08:17:19.332';
    SELECT YEAR(@SomeDate);
    SELECT MONTH(@SomeDate);
    SELECT DAY(@SomeDate);
    ```
- With `DATEPART()`: 
    - takes a part from a date in integer value
    - `SELECT DATEPART(YEAR, @dt) AS TheYear;`
- With `DATENAME()`: 
    - takes a part from a date in string value
    - `SELECT DATENAME(YEAR, @dt) AS TheYear;`
- Common Parts
    - Year / Month / Day
    - Day of year
    - Day of week
    - Week of year
    - ISO week of year
    - Minute / Second
    - Millisecond / Nanosecond
    - See more: https://docs.microsoft.com/en-us/sql/t-sql/functions/datepart-transact-sql

# Calculations with Dates

- With `DATEADD()`:
    - Adds/Subtracts dates with given date
    - `SELECT DATEADD(DAY, 1, @SomeTime) AS NextDay, DATEADD(DAY, -1, @SomeTime) AS PriorDay;`
- With `DATEDIFF()`:
    - Find differences between 2 dates in given units
    - `SELECT DATEDIFF(SECOND, @StartTime, @EndTime) AS SecondsElapsed,`
- Rounding :
    - There is no built-in function for rounding
    - Combine `DATEADD()` with `DATEDIFF()`
    - example : `DATEADD(YEAR, DATEDIFF(YEAR, 0, '1914-08-16'), 0)`

# Converting and Formatting Dates

- `CAST()`:
    - Casting one data type to another data type
    - No control over formatting from dates to strings
    - `SELECT CAST(@SomeDate AS NVARCHAR(30)) AS DateToString,`
    - `SELECT CAST(@SomeString AS DATETIME2(3)) AS DateToString,`
- `CONVERT()`:
    - Specific function only to T-SQL
    - Converting one format to another format of string    
    - Second argument for casting
    - Third argument for formatting string

    - example:
        ```
        SELECT
        CONVERT(NVARCHAR(30), @SomeDate, 0) AS DefaultForm,
        CONVERT(NVARCHAR(30), @SomeDate, 1) AS US_mdy,
        CONVERT(NVARCHAR(30), @SomeDate, 101) AS US_mdyyyy,
        CONVERT(NVARCHAR(30), @SomeDate, 120) AS ODBC_sec;
        ```
<center><img src="images/01.06.jpg"  style="width: 400px, height: 300px;"/></center>

- `FORMAT()`:
    - More flexible than than either `CAST()` or `CONVERT()`
    - Specific function only to T-SQL
    - Can be slower as you process more rows
    - Second argument for date part specification
    - Third argument for specified language
    - Uses the .NET framework for conversion and single threaded
    - Not recommended for scaled data
    - example:
        ```
        SELECT
        FORMAT(@SomeDate, 'd', 'en-US') AS US_d,
        FORMAT(@SomeDate, 'd', 'de-DE') AS DE_d,
        FORMAT(@SomeDate, 'D', 'de-DE') AS DE_D,
        FORMAT(@SomeDate, 'yyyy-MM-dd') AS yMd;
        ```

# Calender Table

- Stores date information for easy retrieval
- Make once and never update (Like a warehouse)
- `SELECT * FROM dbo.Calendar;`
- No need to re-invent the wheel, look for existing tables online.

# Apply

- Executes a function in each row of a result set
- Works like a function and reduce repeatition
- 2 queries connecting with `CROSS APPLY (<...repeated_query...>)`
- example:
```
SELECT some_func.a, new_b = some_func.b+1, new_c = some_func.c+1 FROM some_table
CROSS APPLY
(
 SELECT a,b,c FROM some_table
) some_func;
```