# Messy Data

- Date, Numbers are represented as strings (inconsistent types)
- Categories represented in different string format (inconsistent values)

<center><img src="images/03.05.jpg"  style="width: 400px, height: 300px;"/></center>

# Converting data types

- Numeric and Dates data types can be stored as plain text
    - Convert them to their specific format, otherwise operations wont work on them
    - eg: We cannot do `AVG` on `string`, So we need to convert the string to `NUMERIC` first
- Convert with `CAST(field AS type)`
    - `CAST(col AS int)`
- Read error messages! They will hint that the data-type is not what you think it is
    - SEE SLIDES FOR SUCH EXAMPLES
- You can see information_schema to see the types of columns in a table:
    ```
    SELECT
        column_name, data_type
    FROM
        information_schema.columns
    WHERE table_name = 'your_table'
    ;
    ```

# String functions

- `REPLACE(col,'old_char','new_char')` : replacing characters
- `LEFT(col,2)` : taking string from left
- `RIGHT(col,2)` : taking string from right
- `SUBSTRING(col,2)` : taking string from right
- `UPPER(col)` : Change column to upper case
- `LOWER(col)` : Change column to lower case
- `INITCAP(col)` : Change column to title case
- `TRIM()` : Remove spaces 
- See examples in the slide

# What does null really mean?

- Unclear what null represents!
- Explore more to gain business perspective
- may mean no value
- may mean 0 
- Way to handle : 
    - filter with `WHERE field IS NOT NULL`
    - Use : `COALESCE(field, null_replacement)`
- See ratio of `null` in a column : 
    - `SELECT SUM(CASE when col IS NULL then 1 else 0 end) / SUM(1.00) FROM orders;`

# Fixing data duplication

<center><img src="images/03.12.jpg"  style="width: 400px, height: 300px;"/></center>

1. Remove aggregations (Only works when there is only 1 value for each join key)
2. Change the `JOIN` logic by adding another field to the `ON` statement. with `AND`
    - `table1 AS t1 JOIN table2 AS t2 ON t1.id = t2.id AND t1.another_field = t2.another_field`
3. Rollup to same granularity before `JOIN` using subquery (Simple join between 2 tables with only 1 value for each join key)