# `SELECT`

- Used for specifying columns of the result to return
- example: 
    - `SELECT *`  : Select all columns
    - `SELECT <column_name>` : Select specified column

# `FROM`

- Used for specifying table name to work on
- example : `FROM <table_name>`

# `JOIN`

- Used to join 2 tables `ON` specific column
- Different types of joins: `INNER`, `LEFT`, `RIGHT`
- example : `<table1_name> AS <alias1> INNER JOIN <table2_name> AS <alias2>`

# `ON`

- Used for specifying the matching column from both table while joining
- example: `ON <table_1.matching_col> = <table_2.matching_col>`

# `AS`

- Used for aliasing a query / table name
- example : 
    - `<column_name> AS <alias1>`
    - `<table_name> AS <alias1>`
    - `<query_result> AS <alias1>`

# `WHERE`

- Used for filtering condition
- example : `WHERE <condition>`

# `AND`

- Used to combine multiple command with boolean `AND` operation
- Returns true if all conditions are true
- example : `<condition1> AND <condition2>`

# `OR`

- Used to combine multiple command with boolean `OR` operation
- Returns true if any of the conditions are true
- example : `<condition1> OR <condition2>`

# `ORDER BY`

- Used for ordering the result by specific column
- Default ordering is in ascending order
- `DESC` keyword at the end will make the ordering descending
- example: `ORDER BY <column_name> DESC`

# `IN`

- Provide a list for comparison
- example: `IN ('<item1>','<item2>', ...)`

# EXAMPLE

<center><img src="images/01.01.jpg"  style="width: 400px, height: 300px;"/></center>

# Transforming strings

- `SELECT UPPER(<column>)` : Make the strings upper-case
- `SELECT LOWER(<column>)` : Make the strings lower-case
- Operators: add ( `+ `), subtract ( `-` ), divide ( `/` ), multiply( `*`)
- `SELECT EXTRACT(<part> FROM <date_column>)` : Extract specific field (day, month etc) from date column
- See slides for examples

# `GROUP BY`

- Used for aggregating
- Used when aggregate functions are used
- Non-aggregated columns are tied with this keyword
- Common functions: `COUNT()`, `AVG()`, `SUM()` etc
- example : `GROUP BY <non_agg_column>`
<center><img src="images/01.07.jpg"  style="width: 400px, height: 300px;"/></center>

# `STRING_AGG`

- Used for aggregating string column
- Same as aggregate functions
- example : `STRING_AGG(<column>, '<separator>')`