# Storing Data

Three ways to store your data
1. Create a TABLE using new data
2. Create a TABLE using existing data
3. Create a VIEW using existing data

# Create a TABLE using new data

1. Create a new table
```
CREATE TABLE table_name (
col1 INT,
col2 FLOAT
);
```

2. Insert data into the table
```
INSERT INTO table_name (col1, col2)
VALUES
(col1_val1, col2_val1),
(col1_val2, col2_val3),
(col1_val3, col2_val3);
```

# Create a TABLE using existing data

- Create a table from query result

```
CREATE TABLE new_table AS
SELECT col1, col2
FROM table_name;
```

# Create a VIEW using existing data

- Create a view from query result

```
CREATE VIEW view_name AS
SELECT col1, col2
FROM table_name;
```

# Table vs View

<center><img src="images/03.01.jpg"  style="width: 400px, height: 300px;"/></center>

# Update a Table

- Ensure you CAN modify the table.
- Ensure you know how this table is used and
- how your changes will impact those who can use it.
- Test a modification with `SELECT`
- ALWAYS better to use `subquery` AND `WHERE` when modifying desired result
```
UPDATE table_name
SET column1 = value1, column2 = value2, ...;
```
<center><img src="images/03.05.jpg"  style="width: 400px, height: 300px;"/></center>

# Deleting data

- Remove a table
    - Removes the whole table
    - `DROP TABLE table_name;`
- Clear table of ALL records
    - Removes the whole table's record, however keeps the empty table
    - `TRUNCATE TABLE table_name;`
    - `DELETE FROM table_name;`
- Clear table of SOME records
    - Delete records that meet the condition
    - `DELETE FROM table_name WHERE condition;`

- Ensure you CAN DELETE the table.
- Ensure you know how this table is used and
- how your DELETION will impact those who can use it.
- Test a DELETION with `SELECT`
- ALWAYS better to use `subquery` AND `WHERE` before DELETING desired result