# Database Client

- A program used to connect to a database
- A program used to work with a database
<center><img src="images/01.01.jpg"  style="width: 400px, height: 300px;"/></center>

# ERD

- Known as entity relationship diagram
- Shows tables in a database
- Shows columns in a database
- Shows how tables are related in a database
<center><img src="images/01.02.jpg"  style="width: 400px, height: 300px;"/></center>

- `stackoverflow`: questions asked on Stack Overflow with certain tags
- `company`: information on companies related to tags in stackoverflow
- `tag_company`: links stackoverflow to company
- `tag_type`: type categories applied to tags in stackoverflow
- `fortune500`: information on top US companies

# Things to note

<center><img src="images/01.03.jpg"  style="width: 400px, height: 300px;"/></center>

# See which Table Has most rows

```
SELECT count(*) 
FROM tablename;
```

# See which Table Has most columns

```
SELECT COUNT(COLUMN_NAME)
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'table name';
```

# Foreign Keys

- Reference another row 
- In a different table or the same table (self-reference) 
- Via a unique ID (no duplicate value allowed)
    - >> Primary key column containing unique, non-NULL values
- Values restricted to values in referenced column OR NULL (indicating no relationship)

# Coalesce Function

- Operates row by row
- Returns first non- NULL value
- `SELECT coalesce(column_1, column_2) AS non_null_combined FROM table_name;`
    - Returns a single column named non_null_combined
    - If `column_1` is not null, `non_null_combined` contains `column_1` value
    - If `column_1` is null, `non_null_combined` contains `column_2` value
    - If `column_1` and `column_2` are both `null`, `non_null_combined` contains `null` value

# Column constraints

- Rules of a column
- `Foreign key`: value that exists in the referenced column, or NULL
- `Primary key`: unique, not NULL
- `Unique`: values must all be di(erent except for NULL
- `Not null`: NULL not allowed: must have a value
- Check constraints: conditions on the values
    - `column1 > 0`
    - `columnA IS NOT NULL`

# Data Types

<center><img src="images/01.10.jpg"  style="width: 400px, height: 300px;"/></center>

# Converting Types

- Also referred as Casting
- 2 Ways of casting
- With `CAST` : 
    - `SELECT CAST (old_type AS new_type);`
    - `SELECT CAST (3.7 AS integer);`
- With `::` : 
    - `SELECT old_type::new_type;`
    - `SELECT 3.7 :: integer;`