# Different Numeric Types

<center><img src="images/02.01.jpg"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/02.02.jpg"  style="width: 400px, height: 300px;"/></center>

# Numeric operations

- Integer / Integer = Integer
- Integer / Numeric or Float = Numeric or Float

# Summary Functions

- Minimum : `SELECT min(col_name) FROM table_name;`
- Maximum : `SELECT max(col_name) FROM table_name;`
- Average : `SELECT avg(col_name) FROM table_name;`
- Variance / Sample Variance : `SELECT variance(col_name) FROM table_name;`
- Sample Variance : `SELECT var_samp(col_name) FROM table_name;`
- Population Variance : `SELECT var_pop(col_name) FROM table_name;`
- Standard Deviation / Sample Standard Deviation : `SELECT stddev(col_name) FROM table_name;`
- Sample Standard Deviation : `SELECT stddev_samp(col_name) FROM table_name;`
- Population Standard Deviation : `SELECT stddev_pop(col_name) FROM table_name;`
- Correlation : `SELECT corr(col1, col2) FROM table_name;`
- Discrete Median: (Returns original data)
    - `SELECT percentile_disc(percentile) WITHIN GROUP (ORDER BY column_name) FROM table_name;`
- Continuous Median: (Interpolates between original data even if that does not exist)
    - `SELECT percentile_cont(percentile) WITHIN GROUP (ORDER BY column_name) FROM table_name;`
- Rounding : `SELECT round(42.1256, 2);`

# Summarize by Group

```
SELECT tag,
    min(question_pct),
    avg(question_pct),
    max(question_pct)
FROM stackoverflow
GROUP BY tag;
```

# Truncating Values

- Reduces precision of a number (not same as rounding)
- `SELECT trunc(42.1256, 2);`

# Generate Series

- Generates specified series
- `SELECT generate_series(start, end, step);`
    - `SELECT generate_series(1, 10, 2);`

# Creating Bins and Make a query for distribution

<center><img src="images/02.06.jpg"  style="width: 400px, height: 300px;"/></center>

# Common Issues and Error Codes

<center><img src="images/02.09.jpg"  style="width: 400px, height: 300px;"/></center>

# Creating Temp Table

- 2 Ways:
    - With `CREATE TEMP TABLE AS`: (Most recommended way)
        ```
        CREATE TEMP TABLE new_tablename AS
        SELECT column1, column2
        FROM table;
        ```
    - With `SELECT INTO TEMP TABLE`:
        ```
        SELECT column1, column2
        INTO TEMP TABLE new_tablename
        FROM table;
        ```

# Inserting into a table

```
INSERT INTO table_name
SELECT col1, col2
FROM other_table;
```

# Delete a table

- `DROP TABLE IF EXISTS top_companies;`