# PostgreSQL character types

- `character(n)` or `char(n)`
    - fixed length `n`
    - trailing spaces ignored in comparisons
- `character varying(n)` or `varchar(n)`
    - variable length up to a maximum of `n`
- `text` or `varchar`
    - unlimited length

<center><img src="images/03.011.jpg"  style="width: 400px, height: 300px;"/></center>

# Converting case

- To lower case : `SELECT lower('aBc DeFg 7-');`
- To upper case : `SELECT upper('aBc DeFg 7-');`
- with `LIKE` operator : `SELECT * FROM table_name WHERE col_name LIKE '%apple%';`
- with `ILIKE` operator (Case insensitive) : `SELECT * FROM table_name WHERE col_name ILIKE '%aPple%';`

# Trimming

- From Both Side: `SELECT TRIM(' abc ');`
- From LEFT Side: `SELECT LTRIM(' abc ');`
- From RIGHT Side: `SELECT RTRIM(' abc ');`
- Other values : `SELECT trim('Wow!', '!wW');`

# Substring

- Keep from left : `SELECT left('abcde', 2)`
- Keep from right : `SELECT right('abcde', 2)`
- `SELECT substring(string FROM start FOR length);`
    - `SELECT substring('abcdef' FROM 2 FOR 3);`
- `SELECT substr('abcdef', 2, 3);`
- Splitting: `SELECT split_part(string, delimiter, part_to_show);`
    - `SELECT split_part('a,bc,d', ',', 2);`
- Concatenating
    - `SELECT concat('a', 2, 'cc');` (Ommits `NULL`)
    - `SELECT 'a' || 2 || 'cc';` (Returns `NULL` if any component is `NULL`)

# CASE

```
SELECT 
    CASE 
    WHEN col_1 > 100 THEN 'greater_100'
    WHEN col_1 < 0 THEN 'less_0'
    ELSE 'unknown'
    END AS category_group, 
FROM table_name;
```

# Some Issues

<center><img src="images/03.012.jpg"  style="width: 400px, height: 300px;"/></center>