# String Functions

- `LEN()` : 
    - Length of a string
    - `SELECT LEN(bean_origin) AS length`
- `CHARINDEX()` : 
    - Index of a character in a string
    - `SELECT CHARINDEX('chocolate', 'White chocolate is not real chocolate')`
- `PATINDEX()` : 
    - Returns the starting position of a pattern
    - `SELECT PATINDEX('%chocolate%', 'White chocolate is not real chocolate') AS position1`
- `LOWER()` :
    - Turns strings into lower-case
- `UPPER()` :
    - Turns strings into upper-case
- `LEFT()` :
    - Takes characters from the left of the string
- `RIGHT()` :
    - Takes characters from the right of the string
- `LTRIM()` :
    - Cuts off blanks from left side of the string
- `RTRIM()` :
    - Cuts off blanks from right side of the string
- `TRIM()` :
    - Cuts off blanks from both side of the string
    - `SELECT LOWER(' both ')`
- `REPLACE()` :
    - replace a string with other string
    - `SELECT REPLACE('I like apples, apples are good.', 'apple', 'orange') AS result;`
- `SUBSTRING()`:
    - Take substring from a string from a specified starting index up to a certain length
    - `SELECT SUBSTRING('123456789', 5, 3) AS result;`
- `CONCAT()` :
    - Concat Strings without separator
    - `SELECT CONCAT('Apples', 'and', 'Oranges') AS result_col,`
- `CONCAT_WS()` :
    - Concat Strings with separator
    - First argument takes the separator
    - `SELECT CONCAT_WS(' ', 'Apples', 'and', 'oranges') AS result_col,`
- `STRING_AGG()`:
    - Aggregates all column values in a single line 
    - Can be used with `GROUP BY`
        - `SELECT col1, STRING_AGG(col2, ', ') AS new_col2 FROM table_name GROUP BY col1;`
    - Can be used with `WITHIN GROUP` clause
        - `SELECT STRING_AGG(col, ', ') WITHIN GROUP (ORDER BY col ASC) AS new_col FROM t`
- `STRING_SPLIT()`:
    - De-aggregate to multiple rows from a single row based on a separator.
    - Opposite to `STRING_AGG()`
    - `SELECT * FROM STRING_SPLIT('1,2,3,4', ',')`
- concatenating data with functions is better than using `"+"` operator

- SEE SLIDES FOR EXAMPLES