# `CASE` statements

- Used fot if-else condition
- No comma inside When..Then
- Each case statement is considered a separate column

```
SELECT
col_1, col_2,
CASE
WHEN col_1 > col_2 THEN 'Big'
WHEN col_1 < col_2 THEN 'Small'
ELSE 'Same' END AS new_col
FROM some_table;
```

# Filtering `CASE` with `WHERE`

```
SELECT col1, col2, <case_stmt_col>
FROM some_table
WHERE <case_stmt_col> IS NOT NULL;
```

# CASE WHEN with aggregate functions

- When aggregrating, wrap the whole case inside the aggregate function

```
SELECT
col1,
SUM(CASE WHEN col2 = 8650 THEN col4_numeric END) AS col4_sum,
SUM(CASE WHEN col3 = 8650 THEN col5_numeric END) AS col5_sum
FROM some_table
GROUP BY col1;
```