# SQL Server

- relational database system developed by Microsoft
- Transact-SQL (T-SQL) - Microsoft's implementation of SQL, with additional functionality

# Retrieve Data

- `SELECT column_name1,column_name2  FROM table_name` : Retrieve specified columns from table
- `SELECT column_name AS renamed_name  FROM table_name` : Rename output column name
- `SELECT DISTINCT column_name1,column_name2  FROM table_name` : Retrieve unique values from specified columns of table
- `SELECT *  FROM table_name` : Select all columns
- `SELECT TOP(5) column_name1  FROM table_name` : Select the top 5 rows
- `SELECT TOP(5) PERCENT column_name2  FROM table_name` : Select the top 5 percent of rows

# Ordering

- `SELECT * FROM table_name ORDER BY col1, col2 DES` : Order by `col1` ascending and `col2` in descending order

# Filtering with WHERE

- `SELECT col1 FROM invoice WHERE col3 > 15 ` : Only returns rows that satisfies the condition
- For:
    - Range, use `BETWEEN start_val AND end_val` or `NOT BETWEEN start_val AND end_val`
    - Null, use `IS NULL` or `IS NOT NULL`
    - Not equal, use `<>` operator
- `SELECT col1 FROM invoice WHERE col3 > 15 AND col4 < 15 ` : Only returns rows that satisfies all the conditions
- `SELECT col1 FROM invoice WHERE col3 = 15 OR col3 = 16 ` : Only returns rows that satisfies any of the conditions
- Use parenthesis `()` when using `AND` or `OR` to explicitly maintain order
- Remove multiple `OR` on same column with `IN`
    - `SELECT col1 FROM invoice WHERE col3 IN (15,16) `
- Matching with strings: 
    - `SELECT col1 FROM table_name WHERE col2 LIKE 'a%'`  : Returns rows if the string starts with `'a'`