# INNER JOIN

```
SELECT
table_A.columnX,
table_A.columnY,
table_B.columnZ
FROM table_A
INNER JOIN table_B 
ON table_A.foreign_key = table_B.primary_key
INNER JOIN table_C 
ON table_B.foreign_key = table_C.primary_key;
```

- Returns only rows that are commonly matched in all tables

# LEFT JOIN

```
SELECT
table_A.columnX,
table_A.columnY,
table_B.columnZ
FROM table_A
LEFT JOIN table_B 
ON table_A.foreign_key = table_B.primary_key;
```

- Returns only rows from `table_B` that are commonly matched
- Keeps all rows from the LEFT table : `table_A`
- The non-matched cells from `table_B` are Nulls

# RIGHT JOIN

```
SELECT
table_A.columnX,
table_A.columnY,
table_B.columnZ
FROM table_A
RIGHT JOIN table_B 
ON table_A.foreign_key = table_B.primary_key;
```

- Returns only rows from `table_A` that are commonly matched
- Keeps all rows from the RIGHT table : `table_B`
- The non-matched cells from `table_A` are Nulls
- Same as `LEFT JOIN`, Just what table was on the `LEFT` is now on the `RIGHT`

<center><img src="images/00.jpg"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.jpg"  style="width: 400px, height: 300px;"/></center>

# UNION & UNION ALL

```
SELECT
    col
FROM table_1
UNION <ALL>
SELECT
    col
FROM table_2
```

- Stacks/Combines results from 2 queries from same or different tables
- `UNION` does not keep duplicate values in the result
- `UNION ALL` keeps duplicate values in the result
- If source tables have different column names:
    - Alias the column names
- If combining data from different tables:
    - Select the same number of columns in the same order
    - Columns should have the same data types
<center><img src="images/02.jpg"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/03.jpg"  style="width: 400px, height: 300px;"/></center>

- ALL EXAMPLES ARE PROVIDED IN THE SLIDES