# CRUD

- Create : `CREATE` , `INSERT`
- Read : `SELECT`
- Update : `INSERT ... SET`
- Delete : `DELETE` , `DROP`, `TRUNCATE`

# CREATing Table

```
CREATE TABLE table_name(
col_name1 type,
col_name2 type,
col_name3 type
)
```
- Different types:
    - Dates: 
        - `date` ( YYYY-MM-DD ), 
        - `datetime` ( YYYY-MM-DD hh:mm:ss )
        - `time`
    - Numeric:
        - `integer`, 
        - `decimal`,
        - `float`
    - `bit` ( 1 = TRUE , 0 = FALSE . Also accepts NULL values)
    - Strings:
        - `char` ,
        - `varchar` ,
        - `nvarchar`

# INSERTing INTO table

```
INSERT INTO table_name (col1, col2, col3)
VALUES
('value1', 'value2', value3)
```

# UPDATE

```
UPDATE table_name
SET
column1 = value1,
column2 = value2
```

# DELETE

- `DELETE FROM table_name` : Clearing records from table
- `TRUNCATE TABLE table_name` : Clears the entire table at once
- `DROP TABLE table_name` : Dropping the whole table

# Declaring Variables

```
DECLARE @var_name VAR_TYPE
SET @var_name = var_val


SELECT --
FROM --
WHERE col = @var_name;
```

- Used to avoid repeatition

# Storing Data INTO Temporary Table

```
SELECT
col1,
col2,
col3 INTO #temp_table
FROM existing_table
```

- `#temp_table` exists until connection or session ends
- Or you can manually `DROP` it

# TIPS

- Use `WHERE` to subset before `UPDATE` and `DELETE`
- `SELECT` to see the data you are goind to modify before applying `UPDATE` and `DELETE`