# Filtering

- `WHERE` clause
- used with comparison operators: 
    - `>` : Greater than or a/er
    - `<` : Less than or before
    - `=` : Equal to
    - `>=` : Greater than or equal to
    - `<=` : Less than or equal to
    - `<>` : Not equal to
- Example code:
    ```
    SELECT item
    FROM coats
    WHERE color = 'green'
    LIMIT 5;
    ```

# Multiple criteria

- `OR`  : Take either condition around `WHERE`
    - `WHERE color = 'yellow' OR length = 'short';`
- `AND`  : Take both  condition around  `WHERE`
    - `WHERE color = 'yellow' AND length = 'short';`
- `BETWEEN` : Take range enclosed around `WHERE`. It is inclusive
    - `WHERE number BETWEEN 1 AND 5;`

# Filtering text

- `LIKE` : 
    - Used to search for a pattern
    - `%` match zero, one, or many characters: `WHERE col LIKE 'Ab%';`
    - `_` match a single character: `WHERE col LIKE 'Ab_r';`
- `NOT LIKE` : 
    - Opposite to `LIKE`
    - `WHERE col NOT LIKE 'Ab_r'`
- `IN` : 
    - Used to replace multiple `OR` conditions
    -  ` WHERE release_year IN (1920, 1930, 1940); `

# NULL values

- Unknown or empty values
- When comparing, use `IS NULL` or `IS NOT NULL` inside `WHERE` instead of `=` or `<>`
- example : `WHERE col IS NOT NULL;`
- `COUNT()` does not count `NULL` values