# Concatenating Strings

- `CONCAT()`
    - `SELECT CONCAT(col1,' ', col2) FROM some_table`
- `+` operator
    - `SELECT col1 + ' ' + col2 FROM some_table`

# Combining dates

- `DATEFROMPARTS()`
    - `SELECT DATEFROMPARTS( year_col, month_col, day_col) FROM some_table`

# String Functions

- `SUBSTRING` :
    - takes substring from a string
    - `SELECT SUBSTRING(col,start_pos,LEN(col3)) FROM some_table`
- `CHARINDEX` :
    - Returns the index of a charcter in a string
    - `SELECT CHARINDEX('A',col) FROM some_table`
- `LEFT(col, number_of_chars)`  : Creates a string from left characters in a given string
- `RIGHT(col, number_of_chars) `: Creates a string from right characters in a given string
- `REVERSE(col)` : Creates a string in reverse characters in a given string

# PIVOTing

- Allow to group data based of a specific set of columns
- Compute statistics of other columns
- `PIVOT` : 
    - turns the unique values from one column into multiple columns.
    - From long table to wide table
    - Resulting table has more columns
    - Aggregation of a numeric column on a table
    - example:
    ```
    SELECT col_keep, cat_1, cat_2, cat_3
    FROM 
    (SELECT col_keep, cat_col, num_col FROM original_table) AS temp_table
    PIVOT (SUM(num_col) FOR cat_col IN (cat_1, cat_2, cat_3)) AS pivotted_table
    ```
- `UNPIVOT` : 
    - Turns columns into rows.
    - From wide table to long table
    - Resulting table has more rows
    - De-ggregation of a numeric column on a table
    - Not actually opposite to `PIVOT`
    - Will not produce the original table again if unpivotted on pivotted table.
        - `Original table + PIVOT = pivotted table`
        - But, `pivotted table + UNPIVOT <> Original table `
    - example:
    ```
    SELECT * FROM pivotted_table 
    UNPIVOT (num_col FOR cat_col IN (cat_1, cat_2, cat_3) ) AS unpivotted_table
    ```
- Overall formula:
    ```
    SELECT * FROM some_table 
        PIVOT_UNPIVOT (num_col FOR cat_col IN (cat_1, cat_2, cat_3) ) 
    ```